@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}
<style>
    body {
        background-color: #fff;
        color: #000;
        font-family: 'Segoe UI', sans-serif;
    }
    .containerUno{
        background-color:red;
        color:white;
        font-size:40px;
        margin:10px;
        display:flex;
        
    }
    h5{
        color:black;
        font-size:15px;
    }
    h6{
        color:black;
    }
    .div.titulos{
        display:flex;
    }
</style>

<div class="main-container">
    <div id="div.titulos">
        <container class="containerUno"><h5>Nombre tarea</h5>
            <h6>Primera Tarea</h6>
        </container>
        <container class="containerUno">
            <h5>Fecha Vencimiento</h5>
            <h6>15/08/2025</h6>
        </container>
        <container class="containerUno">
            <h5>Estado</h5>
            <h6>En Proceso</h6>
        </container>
        <container class="containerUno">
            <h5>Acciones</h5>
            <button style="background:green"></button>
            <button style="background:red"></button>
        </container>
    </div>
</div>
