@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1>Privacy Policy</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id dolore voluptatem asperiores, animi quidem, sunt, ea debitis quis reprehenderit dolores nam in. Aut temporibus praesentium nihil aliquid ad nulla voluptate.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id dolore voluptatem asperiores, animi quidem, sunt, ea debitis quis reprehenderit dolores nam in. Aut temporibus praesentium nihil aliquid ad nulla voluptate.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id dolore voluptatem asperiores, animi quidem, sunt, ea debitis quis reprehenderit dolores nam in. Aut temporibus praesentium nihil aliquid ad nulla voluptate.
    </p>
</div>
